@using App.Domain.Core.BaseService.Dtos
@model List<ThirdCategoryDto>
 <a class="btn btn-primary" asp-controller="ThirdCategory" asp-action="Create">
                        ایجاد سرویس جدید 
</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">شناسه</th>
            <th scope="col">نام</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>@item.Id</th>
                <td>@item.Title</td>
                <td>
                    <a class="btn btn-primary" asp-controller="ThirdCategory" asp-action="Details" asp-route-id=@item.Id>
                        تصاویر 
                    </a>
                </td>
                <td>
                    <a class="btn btn-primary" asp-controller="ThirdCategory" asp-action="Update" asp-route-id=@item.Id>
                        ویرایش 
                    </a>
                </td>
                <td>
                    <form method="post" asp-action="DeleteThirdCategory" asp-route-id="@item.Id">
                        <input value="حذف" type="submit" class="btn btn-danger" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>